html { 
    background: url("adminPics/pierre-chatel-innocenti-N5RN0JE5kaY-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #E2DADB;
  }
  nav {
    overflow: hidden;
    background-color: #E2DADB;
}

nav a {
    float: left;
    color: #353B3C;
    font-size: 18px;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbutton {
    border: none;
    outline: none;
    color: #353B3C;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    font-size: 18px;
    margin: 0;
}

nav a:hover .dropdown a:hover .dropbutton {
    background-color: #353B3C;
}

.dropcontent {
    display: none;
    position: absolute;
    background-color:white;
}

.dropcontent a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropcontent a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropcontent {
    display: block;
  }
  #container {
    vertical-align: bottom;
    text-align: left;
    position: fixed;
    bottom: 30px;
    right: 16px;
    font-size: 90px;
    padding: 0px;
    margin: 0px;
}
#tastesTitle{
    color: #E2DADB;
    font-family: Anton;
    margin: 0;
    padding: 0;
    line-height: 35px;
    
}

#spacesTitle {
    color: #000000;
    font-family: Anton;
    margin:0;
    padding:0;
    
    
}

#placesTitle {
    color: #E2DADB;
    margin: 0;
    padding: 0;
    line-height:35px;
    font-family: Anton;

}

form {
    border-radius: 25px;
    display:block;
    margin: 0;
    position: fixed;
    top: 45%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 280px;  
    overflow: hidden;   
    padding: 10px;  
    background: #E2DADB;  
    border-radius: 10px ;
    font-family: Anton;
    font-size: 10px;
    }

#imgCredit {
    vertical-align: text-bottom;
    position: fixed;
    top:98%;
    font-size: 7px;
}
